<form [formGroup]="formHandle" (ngSubmit)="handleSubmit()">  <!-- Bind ngSubmit to handleSubmit method -->
  <p-toast
  position="top-center"
  ></p-toast> 
  <div class="min-h-screen flex items-center justify-center bg-white overflow-hidden">
    <div class="sm:w-full sm:max-w-md relative -top-32">
      <h2 class="mt-6 text-center text-3xl md:text-3xl font-extrabold text-gray-900 sm:text-xm">
        {{ isLogin ? 'Sign in to your account' : 'Hi, Create your account' }}
      </h2>
  
      <div class="mt-8 space-y-6">
        <div>
          <input
            name="emailaddress"
            type="email"
            autocomplete="email"
            required
            class="appearance-none rounded-md w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline-indigo focus:border-indigo-500"
            placeholder="Email address"
            formControlName="emailaddress"  
          />
        </div>
  
        <div>
          <input
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="appearance-none rounded-md w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline-indigo focus:border-indigo-500"
            placeholder="Password"
            formControlName="password"  
          />
        </div>
  
        <div>
          <button
            type="submit"
            class="w-full bg-black text-white py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700"
          >
            {{ isLogin ? 'Sign in' : 'Create' }}
          </button>
        </div>
      </div>
  
      <p class="mt-4 text-center text-sm text-gray-600">
        {{ isLogin ? "Don't have an account?" : "Already have an account?" }}
        <a
          class="font-semibold text-black cursor-pointer"
          (click)="toggleSignupLogin()"
        >
          {{ isLogin ? 'Create an account' : 'Sign in to your account' }}
        </a>
      </p>
    </div>
  </div>
    @if(loading){
      <div class="spinner-overlay">
      <p-progressSpinner
        ariaLabel="loading"
      ></p-progressSpinner>
    </div>
    }
</form>
       <!-- <p-progressSpinner
        styleClass="w-4rem h-4rem" 
        strokeWidth="8" 
        ></p-progressSpinner> -->